<div id="partners" class="partners">
	<div class="site-card-container mdl-grid">
		<div class="mdl-cell mdl-cell--12-col center-align-items">

			<div class="centered-div">
				<a class="site-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="mailto:organizers@devfestflorida.org"
				 target="_blank" data-upgraded=",MaterialButton">Become a Sponsor</a>
				&nbsp;&nbsp;&nbsp;
				<a class="site-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="https://firebasestorage.googleapis.com/v0/b/devfestflorida.appspot.com/o/DevFestFlorida-Partnership-2019.pdf?alt=media&amp;token=81f3f199-a5a9-464e-8ba8-df353b4c4c2a"
				 target="_blank" data-upgraded=",MaterialButton">Partnership Opportunities</a>
			</div>
			<div class="centered-div">
			</div>

			<div class="col-lg-10 col-lg-offset-1 center-align-items">
				{% for sponsor in site.data.sponsors %}
				<div class="partner-header mdl-typography--font-light mdl-typography--display-1-color-contrast">{{ sponsor.group
					}}</div>
				<ul class="list-inline">
					{% for element in sponsor.elements %}
					<li>
						<a href="{{ element.link }}" target="_blank">
							<img {% if element.width !=null %} style="width: {{ element.width }};" {% endif %} src="{{ site.baseurl }}/img/sponsors/{{ element.imageUrl }}"
							 title="{{ element.description }}" alt="{{ element.name }}">
						</a>
					</li>
					{% endfor %}
				</ul>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
