<div id="tickets">
	<div class="site-section-title logo-font section-header dff-font">{{ site.data.tickets.ticketsTitle }}</div>
	<br>
	<div class="site-card-container mdl-grid">
		<div class="row mdl-cell mdl-cell--12-col">
			{% for ticket in site.data.tickets.ticketTypes %}
			<div class="col-md-4 col-sm-4 pricing-col ">
				<div class="pricing-header">
					<p class="title disabled">{{ ticket.name }}</p>
					<p class="price {% if ticket.ended %} price-disabled {% endif %} disabled-button"><span class="currency"> </span>{{
						ticket.price }}</p>
				</div>
				<div>
					{% if ticket.ended %}
					<span class=" disable big-button white mdl-button mdl-js-ripple-effect" data-upgraded=",MaterialRipple">
						{{ ticket.buyButtonText | uppercase }}
					</span>
					{% else %}
					<a class="big-button white mdl-button mdl-js-ripple-effect" href="{{ ticket.buyButtonLink }}" target="_tickets"
					 data-upgraded=",MaterialRipple">
						{{ ticket.buyButtonText | uppercase }}
					</a>
					{% endif %}
				</div>

				<div class="pricing-content">
					<span class="button fallback" style="margin-top:10px;">
						{% if ticket.ended %}
						Tickets not longer available
						{% else %}
						Sale ends <b> {{ ticket.validThrough | date: "%B %-d, %Y"}} </b>
						{% endif %}
					</span>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="ticket-disclaimer center-align-items">
			<p>{{ site.data.tickets.ticketsInfo }}</p>
			<br>
		</div>
	</div>
</div>
