<div id="travelinfo">
	<div class="site-section-title logo-font white section-header dff-font">Travel Info</div>
	<div class="site-card-container mdl-grid">
		{% for info in site.data.event.travelElements %}
		<div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
		<div class="mdl-cell mdl-cell--10-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-card mdl-shadow--3dp">
			<div class="row">
				<div class="col-lg-4">
					<div class="mdl-card__media">
						<a href="{{ info.link }}" target="_blank">
							<img src="{{ site.baseurl }}/{{ info.imgUrl }}" style="padding:20px;width:100%;height:auto;">
						</a>
					</div>
				</div>

				<div class="col-lg-8">
					<div class="mdl-card__title large-text">
						<span style="align-items:center;">
							<h1 class="mdl-card__title-text">{{ info.name }}</h1>
						</span>
					</div>
					<div class="mdl-card__subtitle-text">
						<span style="align-items:center;">
							{{ info.specialInstructions }}
						</span>
					</div>
					<div class="mdl-card__supporting-text">
						<span class="mdl-typography--font-light mdl-typography--subhead">{{ info.description | strip_html }}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
		{% endfor %}
	</div>
</div>
